@model filth1.models.Blog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <title>Instllation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/static/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/static/css/install.css")" />

    <script src="@Url.Content("~/static/js/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/static/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/static/js/install.js")"></script>
    
</head>
<body>
    
    <div class="container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="row">
            <div>
                <h1>+</h1>
            </div>
            <fieldset class="col-lg-6">
                <legend>Installation</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.BloggerName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.BloggerName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BloggerName)
                </div>
                <div class="editor-label">
                    <br />
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </fieldset> 
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="editor-label comments">
                    <label>
                    @ViewBag.result</label>
                    <br />
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
 
        }
    </div>
</body>
</html>
